<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- Opción LocalDB (para desarrollo) -->
		<add name="TallerDB"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=TallerMecanico_ERP;Integrated Security=True;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>