USE [master]
GO
/****** Object:  Database [TallerMecanico_ERP]    Script Date: 04/02/2026 11:01:43 ******/
CREATE DATABASE [TallerMecanico_ERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TallerMecanico_ERP', FILENAME = N'C:\Users\11yer\TallerMecanico_ERP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TallerMecanico_ERP_log', FILENAME = N'C:\Users\11yer\TallerMecanico_ERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TallerMecanico_ERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TallerMecanico_ERP]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tabla_afectada] [nvarchar](50) NOT NULL,
	[registro_id] [bigint] NOT NULL,
	[operacion] [nvarchar](10) NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[fecha_hora] [datetime] NULL,
	[detalles] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo_documento] [nvarchar](10) NOT NULL,
	[numero_documento] [nvarchar](13) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[direccion] [nvarchar](max) NULL,
	[telefono] [nvarchar](15) NULL,
	[email] [nvarchar](255) NULL,
	[contribuyente_especial] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[numero_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compras]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compras](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[proveedor_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[numero_factura_proveedor] [nvarchar](20) NOT NULL,
	[fecha_compra] [datetime] NULL,
	[subtotal] [decimal](18, 4) NOT NULL,
	[iva_total] [decimal](18, 4) NOT NULL,
	[total_compra] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizaciones]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizaciones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cliente_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[fecha] [datetime] NULL,
	[validez_dias] [int] NULL,
	[estado] [nvarchar](10) NULL,
	[subtotal] [decimal](18, 4) NOT NULL,
	[iva_total] [decimal](18, 4) NOT NULL,
	[total_final] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CotizacionItems]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CotizacionItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cotizacion_id] [bigint] NOT NULL,
	[producto_id] [bigint] NULL,
	[servicio_id] [bigint] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](18, 4) NOT NULL,
	[descuento] [decimal](18, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompras]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompras](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[compra_id] [bigint] NOT NULL,
	[producto_id] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_costo_unitario] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EgresosCaja]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EgresosCaja](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_compra_id] [bigint] NOT NULL,
	[metodo_pago_id] [int] NOT NULL,
	[monto] [decimal](18, 4) NOT NULL,
	[referencia] [nvarchar](50) NULL,
	[fecha_pago] [datetime] NULL,
	[usuario_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaCompra]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaCompra](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[proveedor_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[clave_acceso_proveedor] [char](49) NOT NULL,
	[serie_comprobante] [char](7) NOT NULL,
	[secuencial_proveedor] [char](9) NOT NULL,
	[fecha_emision_proveedor] [date] NOT NULL,
	[fecha_registro_sistema] [datetime] NULL,
	[subtotal_15_iva] [decimal](18, 4) NULL,
	[subtotal_0_iva] [decimal](18, 4) NULL,
	[descuento_total] [decimal](18, 4) NULL,
	[valor_iva] [decimal](18, 4) NOT NULL,
	[total_factura] [decimal](18, 4) NOT NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaCompraItems]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaCompraItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_compra_id] [bigint] NOT NULL,
	[producto_id] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unidad_costo] [decimal](18, 4) NOT NULL,
	[descuento_item] [decimal](18, 4) NULL,
	[iva_item] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacturaItems]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturaItems](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_id] [bigint] NOT NULL,
	[producto_id] [bigint] NULL,
	[servicio_id] [bigint] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](18, 4) NOT NULL,
	[descuento_item] [decimal](18, 4) NULL,
	[impuesto_id] [int] NOT NULL,
	[valor_iva_item] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[orden_trabajo_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[clave_acceso] [char](49) NOT NULL,
	[numero_autorizacion] [char](37) NULL,
	[punto_emision] [char](3) NULL,
	[establecimiento] [char](3) NULL,
	[secuencial] [char](9) NOT NULL,
	[subtotal_15_iva] [decimal](18, 4) NOT NULL,
	[subtotal_0_iva] [decimal](18, 4) NOT NULL,
	[valor_iva] [decimal](18, 4) NOT NULL,
	[total_final] [decimal](18, 4) NOT NULL,
	[fecha] [datetime] NULL,
	[cliente_id] [bigint] NOT NULL,
	[total_descuento] [decimal](18, 4) NULL,
	[propina] [decimal](18, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impuestos]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuestos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[porcentaje] [decimal](5, 2) NOT NULL,
	[codigo_sri] [nvarchar](10) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngresosCaja]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresosCaja](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_id] [bigint] NOT NULL,
	[metodo_pago_id] [int] NOT NULL,
	[monto] [decimal](18, 4) NOT NULL,
	[referencia] [nvarchar](50) NULL,
	[fecha_pago] [datetime] NULL,
	[usuario_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kardex]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kardex](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[producto_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[tipo_movimiento] [nvarchar](10) NULL,
	[origen] [nvarchar](50) NULL,
	[referencia_id] [bigint] NULL,
	[cantidad] [int] NOT NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_sri] [varchar](2) NOT NULL,
	[nombre] [nvarchar](150) NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotasCredito]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotasCredito](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[clave_acceso] [char](49) NOT NULL,
	[secuencial] [char](9) NOT NULL,
	[fecha] [datetime] NULL,
	[motivo_modificacion] [nvarchar](255) NOT NULL,
	[valor_modificado_subtotal] [decimal](18, 4) NOT NULL,
	[valor_modificado_iva] [decimal](18, 4) NOT NULL,
	[total_nota_credito] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotasCreditoProveedor]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotasCreditoProveedor](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[factura_compra_id] [bigint] NOT NULL,
	[proveedor_id] [bigint] NOT NULL,
	[clave_acceso_nc_prov] [char](49) NOT NULL,
	[valor_restado_subtotal] [decimal](18, 4) NOT NULL,
	[valor_restado_iva] [decimal](18, 4) NOT NULL,
	[total_nc_proveedor] [decimal](18, 4) NOT NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novedades]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novedades](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[orden_trabajo_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[fecha] [datetime] NULL,
	[requiere_presupuesto_extra] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesTrabajo]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesTrabajo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[vehiculo_id] [bigint] NOT NULL,
	[mecanico_id] [bigint] NOT NULL,
	[recepcionista_id] [bigint] NOT NULL,
	[cotizacion_id] [bigint] NULL,
	[fecha_ingreso] [datetime] NULL,
	[kilometraje_ingreso] [int] NULL,
	[nivel_combustible] [nvarchar](20) NULL,
	[estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesTrabajo_Items]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesTrabajo_Items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[orden_id] [bigint] NOT NULL,
	[producto_id] [bigint] NULL,
	[servicio_id] [bigint] NULL,
	[descripcion] [varchar](255) NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[precio_unitario] [decimal](18, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario]),
	[fecha_agregado] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[stock] [int] NULL,
	[precio_costo] [decimal](18, 4) NOT NULL,
	[precio_pvp] [decimal](18, 4) NOT NULL,
	[impuesto_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ruc] [char](13) NOT NULL,
	[nombre_empresa] [nvarchar](255) NOT NULL,
	[contacto_nombre] [nvarchar](100) NULL,
	[telefono] [nvarchar](15) NULL,
	[email] [nvarchar](255) NULL,
	[estado] [bit] NULL,
	[contribuyente_especial] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ruc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosBase]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosBase](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[tipo_vehiculo] [nvarchar](10) NOT NULL,
	[precio_sugerido] [decimal](18, 4) NOT NULL,
	[impuesto_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[rol_id] [bigint] NOT NULL,
	[activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 04/02/2026 11:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[cliente_id] [bigint] NOT NULL,
	[placa] [char](8) NOT NULL,
	[marca] [nvarchar](255) NULL,
	[modelo] [nvarchar](255) NULL,
	[tipo] [nvarchar](10) NOT NULL,
	[anio] [int] NULL,
	[chasis_vin] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [fecha_hora]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((0)) FOR [contribuyente_especial]
GO
ALTER TABLE [dbo].[Compras] ADD  DEFAULT (getdate()) FOR [fecha_compra]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ((15)) FOR [validez_dias]
GO
ALTER TABLE [dbo].[Cotizaciones] ADD  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[CotizacionItems] ADD  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[EgresosCaja] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[FacturaCompra] ADD  DEFAULT (getdate()) FOR [fecha_registro_sistema]
GO
ALTER TABLE [dbo].[FacturaCompra] ADD  DEFAULT ((0)) FOR [subtotal_15_iva]
GO
ALTER TABLE [dbo].[FacturaCompra] ADD  DEFAULT ((0)) FOR [subtotal_0_iva]
GO
ALTER TABLE [dbo].[FacturaCompra] ADD  DEFAULT ((0)) FOR [descuento_total]
GO
ALTER TABLE [dbo].[FacturaCompra] ADD  DEFAULT ('Registrada') FOR [estado]
GO
ALTER TABLE [dbo].[FacturaCompraItems] ADD  DEFAULT ((0)) FOR [descuento_item]
GO
ALTER TABLE [dbo].[FacturaItems] ADD  DEFAULT ((0)) FOR [descuento_item]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('001') FOR [punto_emision]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('001') FOR [establecimiento]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [total_descuento]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [propina]
GO
ALTER TABLE [dbo].[Impuestos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[IngresosCaja] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[Kardex] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[MetodosPago] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[NotasCredito] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[NotasCreditoProveedor] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[Novedades] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Novedades] ADD  DEFAULT ((0)) FOR [requiere_presupuesto_extra]
GO
ALTER TABLE [dbo].[OrdenesTrabajo] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[OrdenesTrabajo] ADD  DEFAULT ('Ingresado') FOR [estado]
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items] ADD  DEFAULT (getdate()) FOR [fecha_agregado]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Proveedores] ADD  DEFAULT ((0)) FOR [contribuyente_especial]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Auditoria]  WITH CHECK ADD  CONSTRAINT [FK_Auditoria_User] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Auditoria_User]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedores] ([id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Proveedor]
GO
ALTER TABLE [dbo].[Compras]  WITH CHECK ADD  CONSTRAINT [FK_Compras_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Compras] CHECK CONSTRAINT [FK_Compras_Usuario]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Cotizaciones_Clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_Cotizaciones_Clientes]
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_Cotizaciones_Usuarios] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Cotizaciones] CHECK CONSTRAINT [FK_Cotizaciones_Usuarios]
GO
ALTER TABLE [dbo].[CotizacionItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Cotizacion] FOREIGN KEY([cotizacion_id])
REFERENCES [dbo].[Cotizaciones] ([id])
GO
ALTER TABLE [dbo].[CotizacionItems] CHECK CONSTRAINT [FK_Items_Cotizacion]
GO
ALTER TABLE [dbo].[CotizacionItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[CotizacionItems] CHECK CONSTRAINT [FK_Items_Producto]
GO
ALTER TABLE [dbo].[CotizacionItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Servicio] FOREIGN KEY([servicio_id])
REFERENCES [dbo].[ServiciosBase] ([id])
GO
ALTER TABLE [dbo].[CotizacionItems] CHECK CONSTRAINT [FK_Items_Servicio]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleC_Compra] FOREIGN KEY([compra_id])
REFERENCES [dbo].[Compras] ([id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleC_Compra]
GO
ALTER TABLE [dbo].[DetalleCompras]  WITH CHECK ADD  CONSTRAINT [FK_DetalleC_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[DetalleCompras] CHECK CONSTRAINT [FK_DetalleC_Producto]
GO
ALTER TABLE [dbo].[EgresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_FacturaCompra] FOREIGN KEY([factura_compra_id])
REFERENCES [dbo].[FacturaCompra] ([id])
GO
ALTER TABLE [dbo].[EgresosCaja] CHECK CONSTRAINT [FK_Egresos_FacturaCompra]
GO
ALTER TABLE [dbo].[EgresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_Metodo] FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[MetodosPago] ([id])
GO
ALTER TABLE [dbo].[EgresosCaja] CHECK CONSTRAINT [FK_Egresos_Metodo]
GO
ALTER TABLE [dbo].[EgresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[EgresosCaja] CHECK CONSTRAINT [FK_Egresos_Usuario]
GO
ALTER TABLE [dbo].[FacturaCompra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedores] ([id])
GO
ALTER TABLE [dbo].[FacturaCompra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[FacturaCompra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[FacturaCompra] CHECK CONSTRAINT [FK_Compra_Usuario]
GO
ALTER TABLE [dbo].[FacturaCompraItems]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Cabecera] FOREIGN KEY([factura_compra_id])
REFERENCES [dbo].[FacturaCompra] ([id])
GO
ALTER TABLE [dbo].[FacturaCompraItems] CHECK CONSTRAINT [FK_DetalleCompra_Cabecera]
GO
ALTER TABLE [dbo].[FacturaCompraItems]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCompra_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[FacturaCompraItems] CHECK CONSTRAINT [FK_DetalleCompra_Producto]
GO
ALTER TABLE [dbo].[FacturaItems]  WITH CHECK ADD  CONSTRAINT [FK_FacturaItems_Factura] FOREIGN KEY([factura_id])
REFERENCES [dbo].[Facturas] ([id])
GO
ALTER TABLE [dbo].[FacturaItems] CHECK CONSTRAINT [FK_FacturaItems_Factura]
GO
ALTER TABLE [dbo].[FacturaItems]  WITH CHECK ADD  CONSTRAINT [FK_FacturaItems_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[FacturaItems] CHECK CONSTRAINT [FK_FacturaItems_Producto]
GO
ALTER TABLE [dbo].[FacturaItems]  WITH CHECK ADD  CONSTRAINT [FK_FacturaItems_Servicio] FOREIGN KEY([servicio_id])
REFERENCES [dbo].[ServiciosBase] ([id])
GO
ALTER TABLE [dbo].[FacturaItems] CHECK CONSTRAINT [FK_FacturaItems_Servicio]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Factura_OT] FOREIGN KEY([orden_trabajo_id])
REFERENCES [dbo].[OrdenesTrabajo] ([id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Factura_OT]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Factura_User] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Factura_User]
GO
ALTER TABLE [dbo].[IngresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Ingresos_Factura] FOREIGN KEY([factura_id])
REFERENCES [dbo].[Facturas] ([id])
GO
ALTER TABLE [dbo].[IngresosCaja] CHECK CONSTRAINT [FK_Ingresos_Factura]
GO
ALTER TABLE [dbo].[IngresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Ingresos_Metodo] FOREIGN KEY([metodo_pago_id])
REFERENCES [dbo].[MetodosPago] ([id])
GO
ALTER TABLE [dbo].[IngresosCaja] CHECK CONSTRAINT [FK_Ingresos_Metodo]
GO
ALTER TABLE [dbo].[IngresosCaja]  WITH CHECK ADD  CONSTRAINT [FK_Ingresos_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[IngresosCaja] CHECK CONSTRAINT [FK_Ingresos_Usuario]
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[Kardex] CHECK CONSTRAINT [FK_Kardex_Producto]
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD  CONSTRAINT [FK_Kardex_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Kardex] CHECK CONSTRAINT [FK_Kardex_Usuario]
GO
ALTER TABLE [dbo].[NotasCredito]  WITH CHECK ADD  CONSTRAINT [FK_NC_Factura] FOREIGN KEY([factura_id])
REFERENCES [dbo].[Facturas] ([id])
GO
ALTER TABLE [dbo].[NotasCredito] CHECK CONSTRAINT [FK_NC_Factura]
GO
ALTER TABLE [dbo].[NotasCredito]  WITH CHECK ADD  CONSTRAINT [FK_NC_Usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[NotasCredito] CHECK CONSTRAINT [FK_NC_Usuario]
GO
ALTER TABLE [dbo].[NotasCreditoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_NCProv_Compra] FOREIGN KEY([factura_compra_id])
REFERENCES [dbo].[FacturaCompra] ([id])
GO
ALTER TABLE [dbo].[NotasCreditoProveedor] CHECK CONSTRAINT [FK_NCProv_Compra]
GO
ALTER TABLE [dbo].[NotasCreditoProveedor]  WITH CHECK ADD  CONSTRAINT [FK_NCProv_Prov] FOREIGN KEY([proveedor_id])
REFERENCES [dbo].[Proveedores] ([id])
GO
ALTER TABLE [dbo].[NotasCreditoProveedor] CHECK CONSTRAINT [FK_NCProv_Prov]
GO
ALTER TABLE [dbo].[Novedades]  WITH CHECK ADD  CONSTRAINT [FK_Novedades_OT] FOREIGN KEY([orden_trabajo_id])
REFERENCES [dbo].[OrdenesTrabajo] ([id])
GO
ALTER TABLE [dbo].[Novedades] CHECK CONSTRAINT [FK_Novedades_OT]
GO
ALTER TABLE [dbo].[Novedades]  WITH CHECK ADD  CONSTRAINT [FK_Novedades_User] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Novedades] CHECK CONSTRAINT [FK_Novedades_User]
GO
ALTER TABLE [dbo].[OrdenesTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OT_Cotizacion] FOREIGN KEY([cotizacion_id])
REFERENCES [dbo].[Cotizaciones] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo] CHECK CONSTRAINT [FK_OT_Cotizacion]
GO
ALTER TABLE [dbo].[OrdenesTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OT_Mecanico] FOREIGN KEY([mecanico_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo] CHECK CONSTRAINT [FK_OT_Mecanico]
GO
ALTER TABLE [dbo].[OrdenesTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OT_Recepcion] FOREIGN KEY([recepcionista_id])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo] CHECK CONSTRAINT [FK_OT_Recepcion]
GO
ALTER TABLE [dbo].[OrdenesTrabajo]  WITH CHECK ADD  CONSTRAINT [FK_OT_Vehiculo] FOREIGN KEY([vehiculo_id])
REFERENCES [dbo].[Vehiculos] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo] CHECK CONSTRAINT [FK_OT_Vehiculo]
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items]  WITH CHECK ADD  CONSTRAINT [FK_OT_Items_Orden] FOREIGN KEY([orden_id])
REFERENCES [dbo].[OrdenesTrabajo] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items] CHECK CONSTRAINT [FK_OT_Items_Orden]
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items]  WITH CHECK ADD  CONSTRAINT [FK_OT_Items_Producto] FOREIGN KEY([producto_id])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items] CHECK CONSTRAINT [FK_OT_Items_Producto]
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items]  WITH CHECK ADD  CONSTRAINT [FK_OT_Items_Servicio] FOREIGN KEY([servicio_id])
REFERENCES [dbo].[ServiciosBase] ([id])
GO
ALTER TABLE [dbo].[OrdenesTrabajo_Items] CHECK CONSTRAINT [FK_OT_Items_Servicio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Impuestos] FOREIGN KEY([impuesto_id])
REFERENCES [dbo].[Impuestos] ([id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Impuestos]
GO
ALTER TABLE [dbo].[ServiciosBase]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_Impuestos] FOREIGN KEY([impuesto_id])
REFERENCES [dbo].[Impuestos] ([id])
GO
ALTER TABLE [dbo].[ServiciosBase] CHECK CONSTRAINT [FK_Servicios_Impuestos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [FK_Vehiculos_Clientes] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [FK_Vehiculos_Clientes]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD CHECK  (([tipo_documento]='Pasaporte' OR [tipo_documento]='RUC' OR [tipo_documento]='Cédula'))
GO
ALTER TABLE [dbo].[Cotizaciones]  WITH CHECK ADD CHECK  (([estado]='Rechazada' OR [estado]='Aceptada' OR [estado]='Pendiente'))
GO
ALTER TABLE [dbo].[Kardex]  WITH CHECK ADD CHECK  (([tipo_movimiento]='SALIDA' OR [tipo_movimiento]='ENTRADA'))
GO
ALTER TABLE [dbo].[OrdenesTrabajo]  WITH CHECK ADD CHECK  (([estado]='Entregado' OR [estado]='Terminado' OR [estado]='En Reparación' OR [estado]='Esperando Repuestos' OR [estado]='En Diagnóstico' OR [estado]='Ingresado'))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([tipo]='Consumible' OR [tipo]='Repuesto' OR [tipo]='Aceite'))
GO
ALTER TABLE [dbo].[ServiciosBase]  WITH CHECK ADD CHECK  (([tipo_vehiculo]='Pesado' OR [tipo_vehiculo]='Camioneta' OR [tipo_vehiculo]='SUV' OR [tipo_vehiculo]='Sedán'))
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD CHECK  (([tipo]='Pesado' OR [tipo]='Camioneta' OR [tipo]='SUV' OR [tipo]='Sedán'))
GO
USE [master]
GO
